@import "tailwindcss";

/* Hide scrollbar but keep scrolling */
/* Hide scrollbar but keep scrolling */
.no-scrollbar {
  overflow: auto;              /* enables scrolling */
  -ms-overflow-style: none;    /* IE/Edge */
  scrollbar-width: none;       /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none;               /* Chrome/Safari/Edge (Chromium) */
}

/* Custom Scrollbar */

.custom-scroll::-webkit-scrollbar {
  width: 6px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #0E1525;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #1E2A3E;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #2A3A55;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
